# CI4 writable logs
backend-api/writable/logs/
backend-api/writable/debugbar/

# cache & session CI4
backend-api/writable/cache/
backend-api/writable/session/

# vendor (PENTING: tambahkan ini)
/vendor

# system files
.DS_Store
.env